/*ESTILOS FORMULARIO*/
.titulofor{
    color:white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 50px;
}
.nom{
    color:white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 30px;
}
.ape{
    color:white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 30px;
}

.reg{
    color:white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 30px;
}

.dir{
    color:white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 30px;
}

.tel{
    color:white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 30px;
}

.cor{
    color:white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 30px;
}
/* PAGINA DE GUITARRAS */

.portada1{
    width: 1000px;
    height: 450px;
    margin-bottom: 70px;
    margin-top: 70px;

}
.tituloGuitarra{
    color:black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 70px;
}
.card1gui{
    margin-top: 15px;
    margin-bottom: 30px;
    border-color: #000000;
    border-style: solid;
    text-align: center;
}

.cajaformu {
    padding-left: 20px;
    background-color: #006494;
    width: 50%;
    height: 600px;
    margin-left: 27%;
    margin-top: -800px;
}