
/* PAGINA DE GUITARRAS */

.portada1{

    width: 1000px;
    height: 300px;
    margin-bottom: 70px;
    margin-top: 50px;
}
.tituloGuitarra{
    color:black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: 70px;
}
.card1gui{
    margin-top: 15px;
    margin-bottom: 30px;
    border-color: #000000;
    border-style: solid;
    text-align: right;
}

.cajaguitarras {
    margin-top: -1750px;
    margin-left: 100px;
}
