/* TITULOS */
.titulo1{
    color:white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 33px;
}
.titulo2{
    color:white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 33px;
}
.titulo3{
    color:white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 33px;
}
.titulo4{
    color:white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 33px;
}
.titulo5{
    color:white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 33px;
} 
/*BOTONES Y DATOS*/
.label{
    color:white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.boton{

    padding: 10px 20px;
    font-size: 15px;
    background-color: #4CAF50;
    border: solid;
    border-color: #4CAF50;
    color: black;
}
.botoncont{
    padding: 20px 40px;
    font-size: 15px;
    background-color: #4CAF50;
    border: solid;
    border-color: #4CAF50;
    color: black;
    margin-left: 110px;
}

