
/*CAJA REGISTRO*/
.caja3 a{
color: white;

}

.cajaRegister{
    color: white;
    padding-left: 100px;
    padding-top: 50px;
    background-color: #006494;
    width: 400px;
    height: 470px;
    margin-left: 40%;
    margin-top: -600px
}

