{% extends "base_generic.html" %}



{% block content %}
{% load static %}
<div class="container">
<h1>Instrumento Agregado :  </h1>
</div>

<div class="container d-flex flex-column"> 
    <h1  class="page-section-heading text-uppercase text-secondary mb-0" >Instrumento: [{{Instrumento.nombre}}]</h1>
    <h2 class="page-section-heading text-uppercase text-secondary mb-0">ID Instrumento: ({{Instrumento.id}})</h2>
        <a class="btn btn-primary" href="{% url 'instrumento_update' pk=instrumento.pk %}">Editar    <span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-primary" href="{% url 'instrumento_delete' pk=instrumento.pk %}">Eliminar   <span class="glyphicon glyphicon-trash"></span></a>
    {% else %}{% endif %}{% else %}{% endif %}        


    <div class="col-md-8" style="margin-top: 5%;">
        <br>
        <p class="texto">{{Instrumento.descripcion}}</p>
        <br>
    </div>
</div>
</header>

{% endblock %}


