% extends "base_generic.html" %}

{% block content %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cssBajos.css' %}">
</head>
<body>
<!--BANNER-->
<div class="caja2">
    <div class="banner">
      <a href="{% url 'index' %}">
      <img src = "{% static 'imagenes/Bajos/banner.jpg' %}">
      </a>
  </div>
</div>
<!--BAJOS-->
<div class="cajabajos">
    <div class="container">
      <div align="center">
        <div class="portada"><img src="{% static 'imagenes/Bajos/portada.jpg' %}"></div>
      <h1 id ="h1">BAJOS</h1>
      <div class="row"> 
        <div class="col-md-3 center">        
            <div class="card1gui">
              <img class="card-img-top" src="{% static 'imagenes/Bajos/allstringibanez1.jpg' %}">            
              <div class="card-body">
                <h4 class="card-title">Ibanez Electrico Azul Oceano</h4>
                <p class="card-text">Bajo eléctrico Ibanez 4 cuerdas SR370E-SPB Escala 	864mm/34</p>
                <a href="#" class="btn btn-success">COMPRAR</a>
                
              </div>
            </div>          
        </div>

        <div class="col-md-3 center">        
            <div class="card1gui">
              <img class="card-img-bottom" src="{% static 'imagenes/Bajos/G&L.jpg' %}">
              <div class="card-body">
                <h4 class="card-title">G&L Electrico Blanco Perla</h4>
                <p class="card-text">Bajo eléctrico G&L Tribute Kiloton - color Escala 34 pulgadas</p>
                <a href="#" class="btn btn-success">COMPRAR</a>
                
              </div>                     
            </div>          
        </div>

        <div class="col-md-3 center">        
          <div class="card1gui">
            <img class="card-img-top" src="{% static 'imagenes/Bajos/Warwick.jpg' %}">            
            <div class="card-body">
              <h4 class="card-title">Warwick Electrico Negro NBA</h4>
              <p class="card-text">Bajo eléctrico Warwick Corvette $$ 4 cuerdas escala 34 pulgadas</p>
              <a href="#" class="btn btn-success">COMPRAR</a>
              
            </div>
          </div>          
      </div>

      <div class="col-md-3 center">        
          <div class="card1gui">
            <img class="card-img-top" src="{% static 'imagenes/Bajos/Ibanez.jpg' %}">            
            <div class="card-body">
              <h4 class="card-title">Ibanez  Electrico Madera Sapelli</h4>
              <p class="card-text">Bajo eléctrico Ibanez de 6 cuerdas BTB746NTL - escala 35 pulgadas</p>
              <a href="#" class="btn btn-success">COMPRAR</a>
              
            </div>
          </div>          
      </div>

      <div class="col-md-3 center">        
          <div class="card1gui">
            <img class="card-img-top" src="{% static 'imagenes/Bajos/IbanezElec.jpg' %}">            
            <div class="card-body">
              <h4 class="card-title">Ibanez Electroacustico color OPN</h4>
              <p class="card-text">Bajo electroacústico Ibanez PCBE12  Natural 4 cuerdas</p>
              <a href="#" class="btn btn-success">COMPRAR</a>
              
            </div>
          </div>          
      </div>

      <div class="col-md-3 center">        
          <div class="card1gui">
            <img class="card-img-top" src="{% static 'imagenes/Bajos/ibanezblack.jpg' %}">            
            <div class="card-body">
              <h4 class="card-title">Ibanez Electrico Deep Twilight </h4>
              <p class="card-text">Bajo eléctrico Ibanez SRSC805 DTF - 5 cuerdas 864mm</p>
              <a href="#" class="btn btn-success">COMPRAR</a>
              
            </div>
          </div>          
      </div>

      <div class="col-md-3 center">        
          <div class="card1gui">
            <img class="card-img-top" src="{% static 'imagenes/Bajos/Gibson.jpg' %}">            
            <div class="card-body">
              <h4 class="card-title">Gibson Electrico Tobacco Burst</h4>
              <p class="card-text">Bajo eléctrico Gibson Thunderbird Bass - 34" / 863mm</p>
              <a href="#" class="btn btn-success">COMPRAR</a>
              
            </div>
          </div>          
      </div>

      <div class="col-md-3 center">        
          <div class="card1gui">
            <img class="card-img-top" src="{% static 'imagenes/Bajos/gl.jpg' %}">            
            <div class="card-body">
              <h4 class="card-title">G&L Electrico LB-100 Natural</h4>
              <p class="card-text">Bajo eléctrico G&L Tribute LB100 con escala de 34 pulgadas</p>
              <a href="#" class="btn btn-success">COMPRAR</a>
              
            </div>
          </div>          
      </div>         
      </div>
      </div>
</div>
</body>    
</html>
{% endblock %}